<header>
    <a href="/covid-app" id="app-name"><h1>מידע קורונה</h1></a>
    <nav>
        <ul>
            <li><a href="/covid-app">ראשי</a></li>
            <div class="line"></div>
            <li><a href="/covid-app/israel-data">הקורונה בישובי ישראל</a></li>
            <div class="line"></div>
            <li><a href="/covid-app/general-israel">מידע כללי ישראל</a></li>
            <div class="line"></div>
            <li><a href="/covid-app/worldWide-data">הקורונה בעולם</a></li>
        </ul>
    </nav>
</header>