<html lang="he">
<%- include('./partials/head.ejs')%>
<body>
    <div id="wrapper">
        <%- include('./partials/header.ejs')%>
        <h3>בחר מידע על ישראל או מדינה בעולם</h3>
        <div id="boxes">
            <div id="israel" class="button" onclick="window.location.href='israel-data'">מידע ישובי ישראל</div>
            <div id="israel-gen" class="button" onclick="window.location.href='general-israel'">מידע כללי ישראל</div>
            <div id="world" class="button" onclick="window.location.href='worldWide-data'">מידע לפי מדינות</div>
        </div>
    </div>
</body>
</html>