* {
    box-sizing: border-box;
}

p, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(230, 230, 230);
}
h1{
    font-weight:bold;
}
html, body {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    /* overflow-y: scroll; */
    font-family: sans-serif;

}

nav{
    background-color: rgb(0, 0, 23);
    height: 100%;
    border: 1px solid black;
    width: 15%;
    float: left;
    text-align: center;
    position: fixed;    
    z-index: 1;
}
.active a{
    color: rgb(189, 123, 0);
}

#photo{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid white;
}
#img-cont{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-top: 25%;
}

#photo img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
    border: 2px solid rgb(231, 231, 255);
}
#photo > *{margin-bottom: 10px;}
#det, #home-content h3{color: rgb(189, 123, 0);}

ul{
    margin-top: 20%;
    list-style-type: none;
}
li{
    margin-top: 25px;
    cursor: pointer;
}
nav #socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
nav li img{
    margin-right: 20px;
}

.section{
    height: 100%;
    float: right;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 53, 78);
}
#home2{
    width: 50%;
    text-align: center;
    margin-top: -10%;
    color: rgb(230, 230, 230);
}

#home-content h3{
    display: inline;
}

#home-content button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
    width: 160px;
    height: 45px;
    font-size: 16px;
}

#home-content button:hover{background-color: rgb(91, 91, 91);}

button, a{cursor: pointer;}

button:active {transform: translateY(2px); }

#about, #skills, #projects, #challenges, #contact,footer{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    margin-top: -50px;
    width: 90%;
}

#container p{margin-top: -15px; color: rgb(78, 78, 78);}

#about-right h2{
    margin-top: -12px;
}
#about-right h4{
    color: rgb(213, 138, 0);
}

#about-right #text{
    border-bottom: 1px solid rgb(165, 165, 165);
}

#about-right #about-contact{
    font-weight: bold;
}

#about-right #about-contact p{
    margin-top: 20px;
}

#about-contact a{color: rgb(213, 138, 0);}
#about-contact button, form #btn{
    background-color: rgb(255, 166, 0);
    height: 50px;
    border-radius: 30px;
    border: 2px solid rgb(242, 255, 0);
    font-weight: bold;
    cursor: pointer;
    color: black;
}
#about-contact button:active, form #btn:active{
    transform: scale(.97);
}

#skills{
    background-color: rgb(255, 251, 245);
}

#skills h1{margin-left:6% ;}

#boxes-cont{
    float: left;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#boxes-cont .box{
    border: 3px solid rgb(211, 211, 211);
    border-radius: 2px;
    margin: 1%;
    text-align: center;
    background-color: white;
    padding-top: 5px;
}
.box .front{width: 70px}

.box > h4{
    font-weight: bold;
    margin-top: 5px;
}

#projects h1{margin-left: 3%;}

#projects #boxes-cont{
    width: 100%;
}
#projects #boxes-cont a{
    transition: transform .2s;
    margin: 0 auto;
}
#projects #boxes-cont .box{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    position: relative;
}

#projects #boxes-cont > a:hover{
    transform: scale(1.1);
}

#projects #boxes-cont h4{
    margin-top: 15px;
}
#projects #boxes-cont p{color: rgb(220, 220, 220); }
#projects #boxes-cont .box3 p{color: rgb(83, 83, 83);}
#boxes-cont a .box1{
    background-image: url('../images/E2E.png');
    background-color:black;
}
#boxes-cont a .box2{
    background-image: url('../images/covid.png');
    background-color: rgb(111, 7, 7);
}
#boxes-cont a .box3{
    background-image: url('../images/memory.png');
    background-color: rgb(157, 255, 0);
    
}
#boxes-cont a .box3 p, .box3 h4{color: black;}
#challenges h1,#challenges p{margin-left: 6%;}

#projects .line{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    border-bottom: 1px solid rgb(115, 115, 115);
    position: absolute;
    top: 35%;
    left: 10%;
}

#challenges #container{
    height: 65%;
}
#challenges p {
    margin-left: 6%;
}
#challenges #container #boxes-cont{
    height: 70%;
    margin-top: 25px;
}

#challenges a{
    margin: 0 5px;
}

#challenges .box{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;;
    background-repeat: no-repeat;
    background-position-x: .5px;
    cursor: pointer;
    transition: transform .2s;
}
#challenges .box:hover{
    transform: scale(.95);
}

#challenges .c-box1{
    background-image: url('../images/cups.png'); background-color: rgb(0, 155, 210);
}
#challenges .c-box2{
    background-image: url('../images/pentagonal.png');background-color: rgb(223, 192, 3);
}
#challenges .c-box3{
    background-image: url('../images/occurr.png');background-color: rgb(0, 32, 96);
}
/*------Contact style-----*/
#contact{
    height: 70%;
}
#contact #container{
    height: 90%;
    margin-top: -5%;
}
#contact p{
    margin-bottom: 30px;
}
#form-contain form{
    display: block;
}
#form-contain input:not(:last-child), textarea, #message input, #email{
    border-radius: 5px;
}

#form-contain form > *{
    margin-bottom: 20px;
}
form #contact-det,form #message{
    width: 100%;
}
form #contact-det > *{
    width: 48%;
    height: 30px;
    border-bottom: 2px solid rgb(186, 186, 186);
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(237, 244, 255);
}
form #message > *{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(186, 186, 186);
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(237, 244, 255);
}
form #contact-det #email{float: right;}
#message-text{
    border-bottom: 2px solid rgb(186, 186, 186);
    height: 100px;
    width: 100%;
    font-family: sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(237, 244, 255);
    margin-top: -2%;
}
input, textarea{
    border: 0px;
}
.footer{
    height: 20%;
    background-color: rgb(0, 0, 23);
    color: rgb(237, 244, 255);
    float: right;
}
.footer #container{
    display: flex;
    width: 90%;
    margin: auto;
}

.footer .icon-cont {
    width: 150px;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 640px) {
    nav{
        visibility: hidden;
        width: 200px;
        z-index: 1;
        background-color: rgb(0, 0, 23, 0.9);
        /* position: relative; */
    }
    #menu-img{
        width: 30px;
        position: fixed;
        left: 10px;
        top: 10px;
        z-index: 2;
        cursor: pointer;
    }
    #close-img{
        width: 30px;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1;
        display: inherit;
        position: absolute;
        cursor: pointer;
    }
    #menu-img img, #close-img img{
        width: 100%;
    }
    .section{
        width: 100%;
        height: 100%;
    }
    
    #home{
        height: 80%;
    }

    #home h1{font-size: 32px;}
    
    #home-content h3{font-size: 18px}

    #container{
        width: 90%;
    }


    /*----About Section----*/
    #about #container{
        margin-top: -40px;
        margin-left: 50px;
    }

    #container #img-contain{
        display: none;
    }

    #about-right{
        line-height: 25px;
        width: 100%;
        font-size: 15px;
    }
    
    #about-right h2{
        font-size: 20px;
    }

    #about-right #text{
        width: 91%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  
    #about-right #about-contact p{
        margin-bottom: 20px;
    }
   
    /*----Skills Section----*/
    #skills #boxes-cont .box{
        height: 160px;
        width: 45%;
    }
    #skills h1{text-align: center;}

    .box > img{
        width: 40px;
    }
    
    .box > p{
        font-size: 11px;
    }

    /*----Project Section----*/
    #projects #container{
        height: 100%;
        margin-top: 5%;
    }

    #projects #boxes-cont a{
        height: 150px;
        width: 70%;
    }

    #projects #boxes-cont .box{
        background-size: 55%;
        background-position-x: center;
        background-position-y: center;
        padding: 5px;
    }
    #projects h1{text-align: center;}

    #projects .line{
        display: none;
    }


    /*-----codig challenges style-----*/

    #challenges #container{
        margin-top: -50%;
    }

    #challenges p {
        line-height: 22px;
        font-size: 12px;
    }

    
    #challenges a{
        width: 44%;
        height: 180px;
    }
    #contact #container{
        margin-top: -5%;
    }

    /*----footer----*/
    .footer{
        width: 100%;
    }
    
    .footer .icon-cont {
        font-size: 12px;
    }

    .footer #container img{
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
    }

    .footer #line{
        margin: auto;
        height: 50px;
        border-right: 1px solid white;
    }
}
/*------------- MEDIUM WIDTH---------------*/

@media screen and (min-width: 641px) {
    nav{
        visibility: hidden;
        width: 200px;
        z-index: 1;
        background-color: rgb(0, 0, 23, 0.9);
        /* position: relative; */
    }
    #menu-img{
        width: 30px;
        position: fixed;
        left: 10px;
        top: 10px;
        z-index: 2;
        cursor: pointer;
    }
    #close-img{
        width: 30px;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1;
        display: inherit;
        position: absolute;
        cursor: pointer;
    }
    #menu-img img, #close-img img{
        width: 100%;
    }
    .section{
        width: 100%;
        height: 100%;
    }
    
    #home{
        height: 80%;
    }

    #home h1{font-size: 32px;}
    
    #home-content h3{font-size: 18px}

    #container{
        width: 90%;
    }


    /*----About Section----*/
    #about #container{
        margin-top: -40px;
        margin-left: 50px;
    }

    #container #img-contain{
        display: none;
    }

    #about-right{
        line-height: 25px;
        width: 100%;
        font-size: 15px;
    }
    
    #about-right h2{
        font-size: 20px;
    }

    #about-right #text{
        width: 91%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  
    #about-right #about-contact p{
        margin-bottom: 20px;
    }
   
    /*----Skills Section----*/
    #skills #boxes-cont .box{
        height: 140px;
        width: 45%;
    }

    .box > img{
        width: 40px;
    }
    
    .box > p{
        font-size: 12px;
    }

    /*----Project Section----*/
    #projects #container{
        height: 100%;
        margin-top: 5%;
    }

    #projects #boxes-cont a{
        height: 150px;
        width: 40%;
        margin-top: 20px;
    }

    #projects #boxes-cont .box{
        background-size: 55%;
        background-position-x: center;
        background-position-y: center;
        padding: 5px;
    }

    #projects .line{
        display: none;
    }


    /*-----codig challenges style-----*/

    #challenges #container{
        margin-top: -50%;
    }

    #challenges p {
        line-height: 22px;
        font-size: 12px;
    }

    
    #challenges a{
        width: 40%;
        height: 80%;
    }

    /*----footer----*/
    .footer{
        width: 100%;
    }
    
    .footer .icon-cont {
        font-size: 13px;
    }

    .footer #container img{
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }

    .footer #line{
        margin: auto;
        height: 50px;
        border-right: 1px solid white;
    }
}

/*---- MAX WIDTH----*/
@media screen and (min-width: 975px) {
    nav{
        visibility: visible;
        width: 20%;
        background-color: rgb(0, 0, 23);
    }
    #close-img{
        display: none;
    }

    #menu-img{
        display: none;
    }

    .section{
        width: 85%;
        float: right;
    }
    #home{
        height: 100%;
    }
    
    #home h1{font-size: 50px;}

    #home-content h3{
        font-size: 25px;
    }

    #container{
        width: 80%;
    }

    #about-content{
        display: flex;
        margin-top: -15px;
    }

    #container #img-contain{
        display: unset;
        width: 350px;
        border-radius: 2px;
        margin-top: 15px;
        object-fit: contain;
    }

    #img-contain img{
        width: 100%;
        margin-top: 14%;
    }

    #about-right{
        margin-left: 15px;
        line-height: 27px;
        width: 60%;
    }
    #about-right h2{
        margin-top: -12px;
    }

    #about-right #about-contact{
        font-weight: bold;
    }
    
    #boxes-cont .box{
        height: 180px;
        width: 28%;
    }
    #skills #boxes-cont .box{
        height: 190px;
        width: 28%;
    }
    #skills #boxes-cont .box p{
        margin: auto;
    }

    .box > img{
        width: 50px;
    }

    .box > p{
        font-size: 13px;
    }

    #projects #boxes-cont a{
        height: 300px;
        width: 28%;
    }

    #projects #boxes-cont .box{
        background-size: 100%;
        background-position-x: -1px;
        background-position-y: 92%;
        padding: 10px;
    }

    #challenges #container{
        margin-top: -10%;
    }

    #challenges p {
        margin-left: 6%;
        line-height: 25px;
    }


    #challenges a{
        width: 29%;
        height: 95%;
    }
    #challenges #boxes-cont .box {
        height: 300px;
        width: 100%;
    }

    .footer{
        width: 85%;
    }

    .footer .icon-cont {
        font-size: 14px;
    }

    .footer #container img{
        width: 30px;
        height: 30px;
        margin-bottom: 15%;

    }

    .footer #line{
        height: 80px;
        border-right: 2px solid white;
    }
}

